<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <enviroments default="developments">
        <environment id="developments">
            <trancsactionnManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="drier" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </enviroments>
    <mappers>
        <package nam e="mapper"/>
    </mappers>
</configuration>